.login-form {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
  @media (max-width: 400px) {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
  }
}
